/* style.css */

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

.board {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-template-rows: repeat(3, 50px);
    gap: 10px;
    margin-bottom: 30px;
}

.cell {
    width: 50px;
    height: 50px;
    border: 2px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    cursor: pointer;
}

/* Oculta o conteúdo padrão da célula */
.cell {
  content: ''; /*  Oculta o conteúdo, mas o elemento continua existindo */
}

/* Estilos para o X */
.cell.x::before {
    content: 'X';
    color: blue;
}

/* Estilos para o O */
.cell.o::before {
    content: 'O';
    color: red;
}

.mensagem {
    font-size: 24px;
    margin-bottom: 10px;
}

.reset-button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}